# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- Create markdown cells
- Create ordered and unordered lists
- Provide an example of evaluating arithmetic expressions
- Add comments to cells where necessary

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. GO
6. Scala
7. Ruby
8. JavaScript

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib 
5. Seaborn 
6. PyTorch
7. Apache Spark

| Data Science Tools |
| -------------|
| Jupyter Notebooks |
| R Studio  |
| Anaconda |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5
print(x)

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print(round(x,2))

3.33

## Author
Hiroki Tamiya