# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. GO

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib 
5. SciPy

| Data Science Tools |
| -------------|
| Jupyter Notebooks |
| R Studio  |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
#This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5
print(x)

17

In [35]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print(round(x))

3

## Author
Hiroki Tamiya